body{

background: papayawhip;
margin: 20px 40px;
font-family: Arial;
font-size: 14px;
color: darkolivegreen;
}

section{

    margin: 0 150px;
}
h1{

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 150%;
    color: grey;
}

h2{
text-align: center;
text-decoration: underline;
text-transform: capitalize;
font-size: 125%;
color: grey;
}


.article__information--data, .article__information--author{
    width: 100px;
    border: 1px solid black;
    color: black;
    font-size: 80%;
    background: white;
    text-align: center;
    display: block;
}


.article__information{

display: flex;
justify-content: flex-end;

}

.navigation__list{

display: flex;
list-style-type: none;
justify-content: space-between;
padding: 0;
}


.navigation__point{
background: peachpuff;
padding: 20px;
margin: 5px;
flex: 1 1 0;
text-align: center;
border: solid 1px darkolivegreen;
}


a{
text-decoration: none;
color: inherit;
}

header{
display: flex;
align-items: center;
grid-area: header;
}

nav{
grid-area: nav;
}

aside{
grid-area: aside;

}

main{

grid-area: main;


}
section{
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-template-areas: 
"header header header"
"nav nav nav"
"main main aside";
}

.article__figure{
float: left;
}